//ABOUT SECTION
.section-about {
    display: flex;
    flex-direction: column;
    padding: 8rem 6rem;
    background: linear-gradient(100deg,
                                    transparent 0%,
                                    rgba($color-white, .7) 95%,
                                    rgba($color-primary, .4) 100%
                                );
    background-size: 100%;
}

.about-textbox {
    margin-left: 4rem;
    align-self: center;
}

//TECHNOLOGIES SECTION
.section-technologies {
    display: flex;
    flex-direction: column;    
    padding: 8rem;
    background-color: rgba($color-primary-dark-1, .8);
}

//PROJECTS SECTION
.section-projects {
    padding: 12rem;
    background: linear-gradient(105deg,
                                    transparent 0%,
                                    rgba($color-white, .9) 40%,
                                    rgba($color-primary, .5) 100%
                                );
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

//CONTACT SECTION
.section-contact {
    display: flex;
    flex-direction: column;    
    background-color: rgba($color-primary-dark-1, .8);
    padding: 0;

    & p {
        color: white;
    }

    &__text {
        display: flex;
        flex-direction: column;
        padding: 4rem;
    }
}

