//ABOUT SECTION
.section-about {
    display: flex;
    margin-top: -5rem;
    padding: 3rem 5rem 6rem 5rem;
}

.about-textbox {
    margin-left: 4rem;
    align-self: center;
}

//TECHNOLOGIES SECTION
.section-technologies {    
    padding: 5rem;
    background-color: rgba($color-primary-light-1, .8);
}

//PROJECTS SECTION
.section-projects {
    padding: 5rem;
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
    
    background-color: linear-gradient(105deg, 
                                    rgba($color-white, .9) 0%,
                                    rgba($color-white, .9) 50%, transparent 50%);
    background-size: 100%;
}

.featured-project {

}

