//ABOUT SECTION
.section-about {
    display: flex;
    flex-direction: column;
    padding: 14rem 20rem;
}

.about-textbox {
    margin-left: 4rem;
    align-self: center;
}

//TECHNOLOGIES SECTION
.section-skills {
    display: flex;
    flex-direction: column;    
    padding: 14rem 20rem;
}

//PORTFOLIO SECTION
.section-portfolio {
    padding: 14rem 20rem;
    display: flex;
    flex-direction: column;

    // @include respond(big-desktop) {
    //     padding: 20rem 40rem;
    // }
}

//CONTACT SECTION
.section-contact {
    display: flex;
    flex-direction: column;   
    padding: 14rem 0rem;

    & li {
        color: white;
        margin: 0 4rem;
    }

    &__text {
        display: flex;
        flex-direction: column;
        padding: 0rem 20rem 4rem 20rem;
    }
}