*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //Defines our REM setting.
    
    @include respond(big-desktop) { //Width < 1800?
        font-size: 75%; //1rem = 12, 12/16 = 75%
    }

    @include respond(tab-land) { //Width < 900?
        font-size: 56.25%; //1rem = 9px. 9/16 = 56.25%
    }

    @include respond(tab-port) { //Width < 600?
        font-size: 50%; //1rem = 8px. 8/16 (16 is the default px size) = 50%
    }

}

body {
    box-sizing: border-box;
    border: solid black 3rem;
    min-height: 100vh;

    @include respond(tab-port) {
        font-size: 50%; 
        border: solid black .5rem;
    }

}