//Flex
.u-align-items-top {align-items:flex-start !important;}
.u-space-between {justify-content: space-between !important;}
.u-space-around {justify-content: space-around !important;}
.u-center {justify-content: center !important;}

//Text Align
.u-center-text {text-align: center !important;}

//Position
.u-absolute-position {position: absolute !important;}

//Borders
.u-white-border {border: solid #fff 1px !important;}
.u-bottom-border-tertiary {border-bottom: solid $color-tertiary 1px !important;}
.u-top-border-tertiary {border-top: solid $color-tertiary 1px !important;}

//Padding
.u-padding-small {padding: .63rem .25rem !important;}
.u-padding-6rem {padding: 3rem !important;}
.u-padding-4rem {padding: 4rem !important;}
.u-padding-3rem {padding: 3rem !important;}
.u-padding-1rem {padding: 1rem !important;}
.u-padding-2rem {padding: 2rem !important;}
.u-padding-none {padding: 0 !important;}

//Font Color
.u-color-white {color: white !important;}

//Margins
.u-margin-bottom-tiny {margin-bottom: 0.5rem !important;}
.u-margin-bottom-small {margin-bottom: 1.5rem !important;}
.u-margin-bottom-3rem {margin-bottom: 3rem !important;}
.u-margin-bottom-none {margin-bottom: 0 !important;}
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
    
    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}
.u-margin-bottom-large {
    margin-bottom: 8rem !important;
    
    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}
.u-margin-bottom-huge {margin-bottom: 10rem !important;}
.u-margin-top-small {margin-top: 1.5rem !important;}
.u-margin-top-medium {margin-top: 4rem !important;}
.u-margin-top-large {margin-top: 8rem !important;}
.u-margin-top-huge {margin-top: 10rem !important;}

//Animations
.u-animation-moveInBottom {animation: moveInBottom 0.75s ease-out;}
.u-animation-moveInTop {animation: moveInTop 0.75s ease-out;}
.u-animation-moveInLeft {animation: moveInLeft 0.75s ease-out;}
.u-animation-moveInRight {animation: moveInRight 0.75s ease-out;}
.u-animation-delay-1 {animation-delay: 1s};