//FLEX ROW
.flex-row {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: row;
}

//FLEX COLUMN

//--Global Settings
[class^="flex-column"] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
}

//--Different Widths
.flex-column {
    &-10 {width: 10%;}
    &-20 {width: 20%;}
    &-25 {width: 25%;}
    &-33 {width: 33%;}
    &-40 {width: 40%;}
    &-45 {width: 45%;}
    &-50 {width: 50%;}
    &-60 {width: 60%;}
    &-66 {width: 66%;}
    &-75 {width: 75%;}
    &-80 {width: 80%;}
    &-fill {width: auto;}
}