.flex-row {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: row;
}

.flex-column-20 {
    @include flex-column-global-settings;
    width: 20%;
}

.flex-column-33 {
    @include flex-column-global-settings;
    width: 33%;
}

.flex-column-40 {
    @include flex-column-global-settings;
    width: 40%;
}

.flex-column-50 {
    @include flex-column-global-settings;
    width: 50%;
}

.flex-column-80 {
    @include flex-column-global-settings;
    width: 80%;
}

.flex-column-fill {
    @include flex-column-global-settings;
    width: auto;
}