*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  border: solid black 1.5rem;
  min-height: 100vh;
  background-color: white;
  padding: 1px; }
  @media (max-width: 56.25em) {
    body {
      font-size: 50%;
      border: solid black .5rem; } }

p, li {
  font-size: 1.6rem; }
  p:not(:last-child), li:not(:last-child) {
    margin-bottom: 3rem; }

body {
  font-family: "Lato", sans-serif;
  /* This was imported on my index.html page. */
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 2rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    color: #ffb900; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #161949, #000221);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  margin-bottom: 4rem;
  text-align: center; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewX(7deg) skewY(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.15); }

.heading-secondary-2 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: white;
  letter-spacing: .2rem;
  transition: all .2s;
  text-align: center; }
  @media (max-width: 56.25em) {
    .heading-secondary-2 {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary-2 {
      font-size: 2.5rem; } }
  .heading-secondary-2:hover {
    transform: skewX(7deg) skewY(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.15); }

.heading-tertiary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #020761; }

.heading-quaternary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #020761;
  margin-bottom: 2rem; }

.bold {
  font-weight: bold; }

.small-print {
  font-style: italic;
  font-size: 8px; }

.line-break {
  display: block; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-align-items-top {
  align-items: flex-start !important; }

.u-space-between {
  justify-content: space-between !important; }

.u-space-around {
  justify-content: space-around !important; }

.u-center {
  justify-content: center !important; }

.u-center-text {
  text-align: center !important; }

.u-absolute-position {
  position: absolute !important; }

.u-white-border {
  border: solid #fff 1px !important; }

.u-bottom-border-tertiary {
  border-bottom: solid #73b7f6 1px !important; }

.u-top-border-tertiary {
  border-top: solid #73b7f6 1px !important; }

.u-padding-small {
  padding: .63rem .25rem !important; }

.u-padding-6rem {
  padding: 3rem !important; }

.u-padding-4rem {
  padding: 4rem !important; }

.u-padding-3rem {
  padding: 3rem !important; }

.u-padding-1rem {
  padding: 1rem !important; }

.u-padding-2rem {
  padding: 2rem !important; }

.u-padding-none {
  padding: 0 !important; }

.u-color-white {
  color: white !important; }

.u-margin-bottom-tiny {
  margin-bottom: 0.5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-3rem {
  margin-bottom: 3rem !important; }

.u-margin-bottom-none {
  margin-bottom: 0 !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-animation-moveInBottom {
  animation: moveInBottom 0.75s ease-out; }

.u-animation-moveInTop {
  animation: moveInTop 0.75s ease-out; }

.u-animation-moveInLeft {
  animation: moveInLeft 0.75s ease-out; }

.u-animation-moveInRight {
  animation: moveInRight 0.75s ease-out; }

.u-animation-delay-1 {
  animation-delay: 1s; }

.section-about {
  display: flex;
  flex-direction: column;
  padding: 8rem 6rem;
  background: linear-gradient(100deg, transparent 0%, rgba(255, 255, 255, 0.7) 95%, rgba(2, 7, 97, 0.4) 100%);
  background-size: 100%; }

.about-textbox {
  margin-left: 4rem;
  align-self: center; }

.section-technologies {
  display: flex;
  flex-direction: column;
  padding: 8rem;
  background-color: rgba(22, 25, 73, 0.8); }

.section-projects {
  padding: 6rem 12rem;
  background: linear-gradient(105deg, transparent 0%, rgba(255, 255, 255, 0.9) 40%, rgba(2, 7, 97, 0.5) 100%);
  background-size: 100%;
  display: flex;
  flex-direction: column; }
  @media (min-width: 112.5em) {
    .section-projects {
      padding: 20rem 40rem; } }

.section-contact {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(22, 25, 73, 0.8) 30%, rgba(0, 0, 0, 0.8) 100%);
  background-size: 100%;
  padding: 0; }
  .section-contact p {
    color: white; }
  .section-contact li {
    color: white;
    margin: 0 4rem; }
  .section-contact__text {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    align-content: space-between; }

.bg-video {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  opacity: .35;
  overflow: hidden; }
  .bg-video__video {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.wire-box {
  display: block;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 2.5;
  text-transform: uppercase;
  text-decoration: none;
  padding: .75rem;
  transition: all .2s;
  cursor: pointer;
  width: 100%; }
  .wire-box:hover {
    background-color: #73b7f6; }

.round-img {
  border-radius: 100%;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  width: 100%; }

.rectangular-gradient-left {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0))); }

.rectangular-gradient-right {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(black), to(rgba(0, 0, 0, 0))); }

.rounded-img {
  border-radius: 0.5%;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: all .2s; }
  .rounded-img:hover {
    transform: scale(1.02) translateY(-1rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.slanted-background {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  opacity: .35;
  overflow: hidden; }
  .slanted-background__img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.dock {
  margin-top: 4rem;
  padding: 2rem;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  transition: all .2s;
  border-radius: 2rem;
  border: solid white 1px; }
  .dock:hover {
    transform: scale(1.02) translateY(-1rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  .dock__icon {
    width: 6.6rem;
    height: 6.6rem;
    border-radius: 25%;
    transition: all .2s;
    background-color: white;
    padding: 1rem; }
    .dock__icon:hover {
      transform: scale(1.02) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      border-radius: 100%;
      background-color: rgba(115, 183, 246, 0.7);
      transform: scale(2.5);
      padding: calc(+.4rem); }

.featured-project {
  background-color: white;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  overflow: hidden;
  transition: all .4s;
  width: 100%;
  transform: scale(0.7);
  border: solid transparent 3px; }
  .featured-project:hover {
    border: solid #73b7f6 3px;
    cursor: pointer;
    transform: scale(0.7) translateY(-2rem); }
  .featured-project:focus {
    transform: scale(1.1);
    cursor: auto;
    z-index: 10;
    border: solid #73b7f6 3px; }
  .featured-project__title {
    text-align: center;
    margin-bottom: 6rem;
    background-color: black;
    color: white;
    padding: 4rem; }
  .featured-project__description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    margin: 8rem 0 8rem 6rem; }
  .featured-project__image {
    border-radius: 0.5%;
    margin-left: 12rem;
    width: 40%;
    transition: all .2s;
    object-fit: cover;
    -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(black), to(rgba(0, 0, 0, 0))); }
  .featured-project__gallery {
    display: flex;
    overflow: clip;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 15rem;
    background: black;
    padding: 4px;
    margin-bottom: 4rem; }
    .featured-project__gallery-thumbnail {
      width: 25%;
      height: auto;
      cursor: pointer;
      object-fit: cover;
      border: solid black 3px; }
      .featured-project__gallery-thumbnail:hover {
        border: solid #73b7f6 3px;
        box-sizing: border-box; }
  .featured-project__list-item {
    margin-left: 4rem;
    font-size: 1.6rem; }
  .featured-project:not(:last-child) {
    margin-bottom: -60rem; }

.feature-box-grid {
  margin: 12rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.feature-box {
  background-color: rgba(0, 0, 0, 0.45);
  font-size: 1.5rem;
  padding: 10%;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  transition: transform .25s;
  height: 100%; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__heading {
    color: #ffb900; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #fff, #a4a9eb);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1rem) scale(1.03);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.45);
  font-size: 1.5rem;
  margin: 1rem 6rem;
  padding-left: 2rem;
  text-align: left;
  border-radius: 6px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  transition: transform .25s;
  height: 100%;
  overflow: hidden; }
  .contact-form__form {
    background-color: rgba(0, 0, 0, 0.45);
    padding: 2rem;
    z-index: 8;
    margin-bottom: 2rem; }
  .contact-form__image {
    width: 50%;
    display: flex; }
  .contact-form__heading {
    margin-top: 2rem;
    color: #ffb900; }
  .contact-form__input {
    display: block;
    margin-bottom: 2rem;
    transition: all .2s; }
    .contact-form__input:focus {
      border: solid #73b7f6 4px;
      transform: scale(1.5) translatex(2.5rem);
      margin-bottom: 3rem; }
  .contact-form__message {
    display: block;
    width: 50rem;
    height: 10rem;
    border-radius: 3px;
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.95);
    text-align: top;
    overflow-y: scroll;
    transition: all .2s;
    resize: none;
    margin-bottom: 4rem; }
    .contact-form__message:focus {
      border: solid #73b7f6 4px;
      transform: scale(1.5) translatex(8rem) translatey(1.9rem);
      margin-bottom: 8rem; }
  .contact-form__button {
    border: solid white 1px;
    padding: 1rem;
    max-width: 40rem;
    justify-self: center; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right, black, #020761), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh); }
  .header__logo-box {
    display: block;
    color: #fff;
    margin: 0 auto;
    padding: 8rem 12rem;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    position: absolute;
    transition: all .5s; }
    .header__logo-box:hover {
      transform: scale(1.02) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  .header__button {
    margin-top: 5rem;
    padding: 1rem;
    border: solid #fff 1px !important; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 1rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 6rem;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.flex-row {
  display: flex;
  flex-direction: row; }

[class^="flex-column"] {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

.flex-column-10 {
  width: 10%; }

.flex-column-20 {
  width: 20%; }

.flex-column-25 {
  width: 25%; }

.flex-column-33 {
  width: 33%; }

.flex-column-40 {
  width: 40%; }

.flex-column-45 {
  width: 45%; }

.flex-column-50 {
  width: 50%; }

.flex-column-60 {
  width: 60%; }

.flex-column-66 {
  width: 66%; }

.flex-column-75 {
  width: 75%; }

.flex-column-80 {
  width: 80%; }

.flex-column-fill {
  width: auto; }
