*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 1.5rem;
  min-height: 100vh;
  background-color: black;
  position: relative;
  overflow: show; }
  @media (max-width: 56.25em) {
    body {
      font-size: 50%;
      border: solid black .5rem; } }

main {
  border: solid white 1px;
  z-index: -50;
  background: linear-gradient(to right, rgba(2, 7, 97, 0.3), rgba(115, 183, 246, 0) 10%, rgba(115, 183, 246, 0) 90%, rgba(115, 183, 246, 0.3) 100%); }

p, li {
  font-size: 1.6rem; }
  p:not(:last-child), li:not(:last-child) {
    margin-bottom: 3rem; }

body {
  font-family: "Lato", sans-serif;
  /* This was imported on my index.html page. */
  font-weight: 400;
  line-height: 1.7;
  color: #dbd2d2; }

.rounded-textbox {
  background-color: black;
  border: solid white 1px;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 14px;
  padding: 2rem; }

.heading-primary {
  padding-top: 4rem;
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 2rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    color: #ffb900; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  padding-bottom: 2rem;
  margin-bottom: 6rem;
  border-bottom: solid #73b7f6 0.2px;
  width: 33%;
  align-self: center;
  display: inline-block;
  letter-spacing: .2rem;
  transition: all .2s;
  text-align: center; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-secondary-2 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: white;
  letter-spacing: .2rem;
  transition: all .2s;
  text-align: center; }
  @media (max-width: 56.25em) {
    .heading-secondary-2 {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary-2 {
      font-size: 2.5rem; } }
  .heading-secondary-2:hover {
    transform: skewX(7deg) skewY(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.15); }

.heading-tertiary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-align: center; }

.heading-quaternary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #020761;
  margin-bottom: 2rem; }

.text-bold {
  font-weight: bold; }

.small-print {
  font-style: italic;
  font-size: 8px; }

.line-break {
  display: block; }

.text-align-right {
  text-align: right; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.standard-padding-width {
  padding-left: 20rem;
  padding-right: 20rem; }

@media (max-width: 75em) {
  .u-hide-tab-land {
    display: none !important; } }

@media (max-width: 75em) {
  .u-hide-tab-port {
    display: none !important; } }

@media (max-width: 75em) {
  .u-hide-phone {
    display: none !important; } }

.u-align-items-top {
  align-items: flex-start !important; }

.u-space-between {
  justify-content: space-between !important; }

.u-space-around {
  justify-content: space-around !important; }

.u-center {
  justify-content: center !important; }

.u-center-text {
  text-align: center !important; }

.u-absolute-position {
  position: absolute !important; }

.u-white-border {
  border: solid #fff 1px !important; }

.u-bottom-border-tertiary {
  border-bottom: solid #73b7f6 1px !important; }

.u-top-border-tertiary {
  border-top: solid #73b7f6 1px !important; }

.u-padding-small {
  padding: .63rem .25rem !important; }

.u-padding-6rem {
  padding: 3rem !important; }

.u-padding-4rem {
  padding: 4rem !important; }

.u-padding-3rem {
  padding: 3rem !important; }

.u-padding-1rem {
  padding: 1rem !important; }

.u-padding-2rem {
  padding: 2rem !important; }

.u-padding-none {
  padding: 0 !important; }

.u-color-white {
  color: white !important; }

.u-margin-bottom-tiny {
  margin-bottom: 0.5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-3rem {
  margin-bottom: 3rem !important; }

.u-margin-bottom-none {
  margin-bottom: 0 !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-left-small {
  margin-left: 4rem !important; }

.u-animation-moveInBottom {
  animation: moveInBottom 0.75s ease-out; }

.u-animation-moveInTop {
  animation: moveInTop 0.75s ease-out; }

.u-animation-moveInLeft {
  animation: moveInLeft 0.75s ease-out; }

.u-animation-moveInRight {
  animation: moveInRight 0.75s ease-out; }

.u-animation-delay-1 {
  animation-delay: 1s; }

.standard-padding-width {
  padding-left: 20rem;
  padding-right: 20rem; }

.section-about {
  display: flex;
  flex-direction: column;
  padding: 8rem 30rem; }

.about-textbox {
  margin-left: 4rem;
  align-self: center; }

.section-skills {
  display: flex;
  flex-direction: column;
  padding: 8rem 30rem; }

.section-portfolio {
  padding: 8rem 30rem;
  display: flex;
  flex-direction: column; }
  .section-portfolio__img-50 {
    margin: 3rem 0;
    height: 30rem; }
  .section-portfolio__img-33 {
    margin: 1.5rem 0;
    height: 20rem; }

.section-hire {
  display: flex;
  flex-direction: column;
  padding: 8rem 0rem; }
  .section-hire li {
    color: white;
    margin: 0 4rem; }

.section-contact {
  background-color: black;
  display: flex;
  flex-direction: column; }

.bg-video {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  opacity: .35;
  overflow: hidden; }
  .bg-video__video {
    height: 100%;
    width: 100%;
    object-fit: fill; }

.wire-box {
  display: block;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 2.5;
  text-transform: uppercase;
  text-decoration: none;
  padding: .75rem;
  transition: all .2s;
  cursor: pointer;
  width: 100%; }
  .wire-box:hover {
    background-color: #73b7f6; }

.img-round-shadow {
  border-radius: 100%;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  width: 100%; }

.img-rectangular-gradient-left {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0))); }

.img-rectangular-gradient-right {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(black), to(rgba(0, 0, 0, 0))); }

.img-curved-right {
  border-top-right-radius: 100% 100%;
  border-bottom-right-radius: 100% 100%; }

.img-rounded {
  border-radius: 0.5%;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: all .2s;
  object-fit: cover; }
  .img-rounded:hover {
    transform: scale(1.02) translateY(-1rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.slanted-background {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  opacity: .35;
  overflow: hidden; }
  .slanted-background__img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.dock {
  margin-top: 4rem;
  padding: 2rem;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  transition: all .2s;
  border-radius: 2rem;
  border: solid white 1px;
  z-index: 1; }
  .dock:hover {
    transform: scale(1.02) translateY(-1rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  .dock__icon {
    display: block;
    position: relative;
    transition: all .2s;
    width: 6.6rem;
    height: 6.6rem;
    border-radius: 25%;
    background-color: pink;
    padding: 1rem;
    z-index: 4; }
    .dock__icon:hover {
      transform: scale(1.02) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      border-radius: 100%;
      background-color: rgba(115, 183, 246, 0.7); }
  .dock__icon-text {
    position: absolute;
    font-size: 16px;
    visibility: hidden;
    padding: 2px;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size: 1.6rem;
    z-index: 3;
    transition: all .6s; }
  .dock__icon-image {
    width: 100%;
    border-radius: 25%;
    transition: all .2s;
    background-color: white;
    padding: 1rem;
    z-index: 2;
    transition: all .6s; }

.featured-project {
  background-color: white;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  overflow: hidden;
  transition: all .4s;
  width: 100%;
  border: solid transparent 3px;
  margin-bottom: 2rem;
  padding: 0; }
  .featured-project__title {
    text-align: left;
    margin-bottom: 12rem;
    background-color: black;
    color: white;
    padding: 4rem;
    width: 100%; }
  .featured-project__description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%; }
  .featured-project__image {
    border-radius: 0.5%;
    width: 30%;
    transition: all .2s;
    object-fit: cover;
    -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(black), to(rgba(0, 0, 0, 0))); }
  .featured-project__gallery {
    display: flex;
    overflow: clip;
    flex-direction: row;
    justify-content: left;
    margin-left: 30%;
    width: 70%;
    height: 15rem;
    background: black;
    padding: 4px;
    margin-top: 14rem;
    margin-bottom: 6rem; }
    .featured-project__gallery-thumbnail {
      width: 25%;
      height: auto;
      object-fit: cover;
      border: solid black 3px; }
  .featured-project__list-item {
    margin-left: 8rem;
    font-size: 1.6rem; }

.feature-box-grid {
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.feature-box {
  font-size: 1.5rem;
  padding: 10%;
  text-align: center;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  transition: transform .25s;
  height: 100%;
  background-color: black; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__heading {
    color: #ffb900; }
  .feature-box__text {
    color: white; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #fff, #a4a9eb);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1rem) scale(1.03);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }

.contact-form {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, black, rgba(2, 7, 97, 0.6)), url("../media/contact-apps.jpg");
  background-size: cover;
  font-size: 1.5rem;
  text-align: left;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  transition: transform .25s;
  height: 100%;
  overflow: hidden; }
  .contact-form__form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem 12rem;
    width: 60%; }
  .contact-form label {
    color: #ffb900; }
  .contact-form__input {
    display: block;
    font-size: 2rem;
    margin-bottom: 2rem;
    transition: all .2s;
    border-radius: 8px; }
    .contact-form__input:focus {
      border: solid #73b7f6 4px;
      transform: scale(1.05) translatex(0.5rem);
      margin-bottom: 3rem;
      background-color: #d1f2fb; }
  .contact-form__message {
    display: block;
    width: 100%;
    height: 10rem;
    font-size: 2rem;
    border-radius: 8px;
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.95);
    text-align: top;
    overflow-y: scroll;
    transition: all .2s;
    resize: none;
    margin-bottom: 4rem; }
    .contact-form__message:focus {
      border: solid #73b7f6 4px;
      transform: scale(1.05) translatex(1.75rem);
      margin-bottom: 3rem;
      background-color: #d1f2fb; }
  .contact-form__button {
    border: solid white 1px;
    padding: 1rem;
    max-width: 40rem;
    justify-self: center;
    margin: 0 auto; }

.gradient-grid {
  background-color: black;
  padding: 0rem 6rem;
  border-radius: 14px;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  @media (max-width: 75em) {
    .gradient-grid {
      display: none; } }
  .gradient-grid__icon {
    display: block;
    position: relative;
    transition: all .2s;
    width: 128px;
    border-radius: 25%;
    padding: 1rem;
    z-index: 4;
    margin: 0 auto; }
    .gradient-grid__icon:hover {
      border-radius: 100%;
      background-color: rgba(115, 183, 246, 0.7); }
  .gradient-grid .flex-row [class^="flex-column-"]:before {
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0; }
  .gradient-grid .flex-row [class^="flex-column-"]:after {
    width: 2px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0; }
  .gradient-grid .flex-row:first-child [class^="flex-column-"]:not(:last-child):after {
    content: "";
    background: linear-gradient(0deg, #ffb900 40%, #020761 100%); }
  .gradient-grid .flex-row:first-child [class^="flex-column-"]:before {
    content: "";
    background: linear-gradient(90deg, #ffb900 0%, rgba(2, 7, 97, 0) 50%, #ffb900 100%); }
  .gradient-grid .flex-row:last-child [class^="flex-column-"]:first-child:before {
    content: none; }
  .gradient-grid .flex-row:last-child [class^="flex-column-"]:not(:last-child):after {
    content: "";
    background: linear-gradient(180deg, #ffb900 40%, #020761 100%); }
  .gradient-grid .flex-row:last-child [class^="flex-column-"]:last-child:before {
    content: none; }
  .gradient-grid .flex-row:last-child [class^="flex-column-"]:before {
    content: none; }
  .gradient-grid .flex-row [class^="flex-column-"] {
    position: relative;
    padding: 3rem; }
  .gradient-grid .flex-row [class^="flex-column-"]:first-child:before {
    content: "";
    background: linear-gradient(270deg, #ffb900 40%, rgba(2, 7, 97, 0.6) 100%); }
  .gradient-grid .flex-row [class^="flex-column-"]:last-child:before {
    content: "";
    background: linear-gradient(90deg, #ffb900 40%, rgba(2, 7, 97, 0.6) 100%); }
  .gradient-grid .flex-row [class^="flex-column-"]:last-child:after {
    content: none; }
  .gradient-grid .flex-row [class^="flex-column-"]:before {
    content: "";
    background: linear-gradient(90deg, #ffb900 0%, rgba(2, 7, 97, 0) 50%, #ffb900 100%); }
  .gradient-grid .flex-row [class^="flex-column-"]:after {
    content: "";
    background: linear-gradient(180deg, #ffb900 0%, rgba(2, 7, 97, 0) 50%, #ffb900 100%); }
  .gradient-grid .flex-row.single-row [class^="flex-column"]:not(:last-child):after {
    content: "";
    background: linear-gradient(180deg, rgba(255, 185, 0, 0) 10%, #ffb900 50%, rgba(255, 185, 0, 0) 90%); }

.gradient-grid-tab {
  display: none; }
  @media (max-width: 75em) {
    .gradient-grid-tab {
      display: flex;
      flex-direction: column;
      background-color: black;
      border: solid white 1px;
      padding: 0rem 6rem;
      border-radius: 14px;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
      .gradient-grid-tab__icon {
        display: block;
        position: relative;
        transition: all .2s;
        width: 128px;
        border-radius: 25%;
        padding: 1rem;
        z-index: 4;
        margin: 0 auto; }
        .gradient-grid-tab__icon:hover {
          border-radius: 100%;
          background-color: rgba(115, 183, 246, 0.7); }
      .gradient-grid-tab .flex-row [class^="flex-column-"]:before {
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0; }
      .gradient-grid-tab .flex-row [class^="flex-column-"]:after {
        width: 2px;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0; }
      .gradient-grid-tab .flex-row:first-child [class^="flex-column-"]:not(:last-child):after {
        content: "";
        background: linear-gradient(0deg, #ffb900 40%, #020761 100%); }
      .gradient-grid-tab .flex-row:first-child [class^="flex-column-"]:before {
        content: "";
        background: linear-gradient(90deg, #ffb900 0%, rgba(2, 7, 97, 0) 50%, #ffb900 100%); }
      .gradient-grid-tab .flex-row:last-child [class^="flex-column-"]:first-child:before {
        content: none; }
      .gradient-grid-tab .flex-row:last-child [class^="flex-column-"]:not(:last-child):after {
        content: "";
        background: linear-gradient(180deg, #ffb900 40%, #020761 100%); }
      .gradient-grid-tab .flex-row:last-child [class^="flex-column-"]:last-child:before {
        content: none; }
      .gradient-grid-tab .flex-row:last-child [class^="flex-column-"]:before {
        content: none; }
      .gradient-grid-tab .flex-row [class^="flex-column-"] {
        position: relative;
        padding: 3rem; }
      .gradient-grid-tab .flex-row [class^="flex-column-"]:first-child:before {
        content: "";
        background: linear-gradient(270deg, #ffb900 40%, rgba(2, 7, 97, 0.6) 100%); }
      .gradient-grid-tab .flex-row [class^="flex-column-"]:last-child:before {
        content: "";
        background: linear-gradient(90deg, #ffb900 40%, rgba(2, 7, 97, 0.6) 100%); }
      .gradient-grid-tab .flex-row [class^="flex-column-"]:last-child:after {
        content: none; }
      .gradient-grid-tab .flex-row [class^="flex-column-"]:before {
        content: "";
        background: linear-gradient(90deg, #ffb900 0%, rgba(2, 7, 97, 0) 50%, #ffb900 100%); }
      .gradient-grid-tab .flex-row [class^="flex-column-"]:after {
        content: "";
        background: linear-gradient(180deg, #ffb900 0%, rgba(2, 7, 97, 0) 50%, #ffb900 100%); }
      .gradient-grid-tab .flex-row.single-row [class^="flex-column"]:not(:last-child):after {
        content: "";
        background: linear-gradient(180deg, rgba(255, 185, 0, 0) 10%, #ffb900 50%, rgba(255, 185, 0, 0) 90%); } }

.scrolling-background__movie {
  top: 0;
  left: 0;
  width: 100%;
  opacity: .2;
  z-index: -100;
  height: 100vh;
  position: fixed; }

.scrolling-background__bar-horizontal {
  top: 15vh;
  left: 0;
  height: 10vh;
  width: 100%;
  background-color: rgba(115, 183, 246, 0.3);
  z-index: -99;
  height: 50vh;
  position: fixed;
  border-left: solid rgba(115, 183, 246, 0.5) 1.5rem;
  border-right: solid rgba(115, 183, 246, 0.5) 1.5rem; }

.scrolling-background__bar-right-vertical {
  top: 0;
  left: 75vw;
  height: 100%;
  width: 25vw;
  background: linear-gradient(to left, rgba(115, 183, 246, 0.5) 10%, rgba(115, 183, 246, 0) 50%);
  z-index: -99;
  position: fixed;
  border-right: solid rgba(115, 183, 246, 0.5) 1.5rem; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right, black, #020761);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh); }
  .header__logo-box {
    display: block;
    color: #fff;
    margin: 0 auto;
    padding: 8rem 12rem;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    position: absolute;
    transition: all .5s; }
    .header__logo-box:hover {
      transform: scale(1.02) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  .header__button {
    margin-top: 5rem;
    padding: 1rem;
    border: solid #fff 1px !important; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 1rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 6rem;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.flex-row {
  display: flex;
  flex-direction: row; }

[class^="flex-column"] {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

.flex-column-10 {
  width: 10%; }

.flex-column-20 {
  width: 20%; }

.flex-column-25 {
  width: 25%; }

.flex-column-33 {
  width: 33%; }

.flex-column-40 {
  width: 40%; }

.flex-column-45 {
  width: 45%; }

.flex-column-50 {
  width: 50%; }

.flex-column-60 {
  width: 60%; }

.flex-column-66 {
  width: 66%; }

.flex-column-75 {
  width: 75%; }

.flex-column-80 {
  width: 80%; }

.flex-column-fill {
  width: auto; }
