.contact-form {
    display: flex;
    flex-direction: column;
    background-image:
        linear-gradient(
                to right,
                rgba($color-black, 1),
                rgba($color-primary, 0.6)), 
        url("../media/contact-apps.jpg");
    background-size: cover;
    font-size: 1.5rem;
    text-align: left;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .25);
    transition: transform .25s;
    height: 100%;
    overflow: hidden;

    &__form {
        background-color: rgba($color-black, .5);
        padding: 2rem 0 2rem 6rem;
        width: 60%;
        margin: 0 auto;
    }

    &__heading {
        margin-top: 2rem;
        color: $color-secondary;
    }

    &__input {
        display: block;
        font-size: 2rem;
        margin-bottom: 2rem;
        transition: all .2s;
        border-radius: 8px;
    }

    &__message {
        display: block;
        width: 80%;
        height: 10rem;
        border-radius: 8px;
        box-shadow: $shadow;
        background-color:rgba(white, .95);
        text-align: top;
        overflow-y: scroll;
        transition: all .2s;
        resize: none;
        margin-bottom: 4rem;
        
    }

    &__button {
        border: solid white 1px;
        padding: 1rem;
        max-width: 40rem;
        justify-self:center;
    }
}