.dock {
    margin-top: 4rem;
    padding: 2rem;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    transition: all .2s;
    border-radius: 2rem;
    border: solid white 1px;
    z-index: 1;
    
    &:hover {
        @include hover-grow;
    }

    &__icon {
        display: block;
        position: relative;
        transition: all .2s;
        width: 6.6rem;
        height: 6.6rem;
        border-radius: 25%;
        background-color: pink;
        padding: 1rem;
        z-index: 4;

        &:hover {
            @include hover-grow;
            @include light-up-tertiary;
        }
    }

    &__icon-text {
        position: absolute;
        font-size: 16px;
        visibility: hidden;
        padding: 2px;
        top: 0;
        width: 100%;
        text-align: center;
        color: white;
        background-color: rgba(black, 0.4);
        border-radius: 10px; 
        font-size: 1.6rem;
        z-index: 3;
        transition: all .6s;
    }

    &__icon-image {
        width: 100%;
        border-radius: 25%;
        transition: all .2s;
        background-color: white;
        padding: 1rem;
        z-index: 2;
        transition: all .6s;
    }
}