.feature-box-grid {
    margin: 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-box {
    font-size: 1.5rem;
    padding: 10%;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .25);
    transition: transform .25s;
    height: 100%;
    background-color: black;

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__heading {
        color: $color-secondary;
    }

    &__text {
        color: white;
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-white, $color-primary-light-1);
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover {
        transform: translateY(-1rem) scale(1.03);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .40);
    }

}

