.gallery {
    margin-top: 4rem;
    display: flex;
    overflow: clip;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    &__thumbnail {
    width: 33%;
    height: auto;
    cursor: pointer;
    object-fit: cover;
    border: solid black 1px;
    
        &:hover {
            border: solid $color-tertiary 3px;
            box-sizing: border-box;
        }
    }
}