// Version for desktop
.gradient-grid {
    @include respond(tab-land) {
        display: none;
    }

    background-color: black;
    border: solid white 1px;
    padding: 0rem 6rem;
    border-radius: 14px;
    box-shadow: $shadow;

    &__icon {
        display: block;
        position: relative;
        transition: all .2s;
        width: 128px;
        border-radius: 25%;
        padding: 1rem;
        z-index: 4;
        margin: 0 auto;

        &:hover {
            @include light-up-tertiary;
        }
    }

    .flex-row {
        [class^="flex-column-"]
        {
            &:before {
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            }

            &:after {
            width: 2px;
            height: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            }
        } 
    }

    .flex-row:first-child {

    [class^="flex-column-"]:not(:last-child) {
        &:after {
            content: "";
            background: linear-gradient(0deg, 
                rgba($color-secondary, 1) 40%, 
                rgba($color-primary, 1) 100%);
            }
        }

        [class^="flex-column-"]:before {
            content: "";
            background: linear-gradient(90deg, 
                    rgba($color-secondary,1) 0%, 
                    rgba($color-primary,0) 50%,
                    rgba($color-secondary,1) 100%),
        }

    }

    .flex-row:last-child {
        [class^="flex-column-"]:first-child {
            &:before {
                content: none;
            }
        }

        [class^="flex-column-"]:not(:last-child) {
            &:after {
                content: "";
                background: linear-gradient(180deg, 
                    rgba($color-secondary,1) 40%, 
                    rgba($color-primary,1) 100%);
            }
        }

        [class^="flex-column-"]:last-child {
            &:before {
                content: none;
            }
        }

        [class^="flex-column-"]:before {
            content: none;
        }
    }

    .flex-row {
        [class^="flex-column-"] {
            position: relative;
            padding: 3rem;
        }

        // Left-most column
        [class^="flex-column-"]:first-child {
            &:before {
                content: "";
                background: linear-gradient(270deg, 
                    rgba($color-secondary,1) 40%, 
                    rgba($color-primary,.6) 100%);
            }
        }

        // Right-most column
        [class^="flex-column-"]:last-child {
            &:before {
                content: "";
                background: linear-gradient(90deg, 
                    rgba($color-secondary,1) 40%, 
                    rgba($color-primary,.6) 100%);
            }

            &:after {
                content: none;
            }
        }

        //Middle row
        [class^="flex-column-"]:before {
            content: "";
            background: linear-gradient(90deg, 
                    rgba($color-secondary,1) 0%, 
                    rgba($color-primary,0) 50%,
                    rgba($color-secondary,1) 100%),
        }

        //Middle column
        [class^="flex-column-"]:after {
            content: "";
            background: linear-gradient(180deg, 
                    rgba($color-secondary,1) 0%, 
                    rgba($color-primary,0) 50%,
                    rgba($color-secondary,1) 100%),
        }

        &.single-row {
            [class^="flex-column"]:not(:last-child):after{
                content: "";
                background: linear-gradient(180deg, 
                    rgba($color-secondary,0) 10%, rgba($color-secondary,1) 50%, rgba($color-secondary,0) 90%);
            }
        }
    }
}

// Version for tablets in landscape and smaller
.gradient-grid-tab {
    display: none;

    @include respond(tab-land) {
        display: flex;
        flex-direction: column;
        background-color: black;
        border: solid white 1px;
        padding: 0rem 6rem;
        border-radius: 14px;
        box-shadow: $shadow;

        &__icon {
            display: block;
            position: relative;
            transition: all .2s;
            width: 128px;
            border-radius: 25%;
            padding: 1rem;
            z-index: 4;
            margin: 0 auto;

            &:hover {
                @include light-up-tertiary;
            }
        }

        .flex-row {
            [class^="flex-column-"]
            {
                &:before {
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 0;
                }

                &:after {
                width: 2px;
                height: 100%;
                position: absolute;
                bottom: 0;
                right: 0;
                }
            } 
        }

        .flex-row:first-child {

        [class^="flex-column-"]:not(:last-child) {
            &:after {
                content: "";
                background: linear-gradient(0deg, 
                    rgba($color-secondary, 1) 40%, 
                    rgba($color-primary, 1) 100%);
                }
            }

            [class^="flex-column-"]:before {
                content: "";
                background: linear-gradient(90deg, 
                        rgba($color-secondary,1) 0%, 
                        rgba($color-primary,0) 50%,
                        rgba($color-secondary,1) 100%),
            }

        }

        .flex-row:last-child {
            [class^="flex-column-"]:first-child {
                &:before {
                    content: none;
                }
            }

            [class^="flex-column-"]:not(:last-child) {
                &:after {
                    content: "";
                    background: linear-gradient(180deg, 
                        rgba($color-secondary,1) 40%, 
                        rgba($color-primary,1) 100%);
                }
            }

            [class^="flex-column-"]:last-child {
                &:before {
                    content: none;
                }
            }

            [class^="flex-column-"]:before {
                content: none;
            }
        }

        .flex-row {
            [class^="flex-column-"] {
                position: relative;
                padding: 3rem;
            }

            // Left-most column
            [class^="flex-column-"]:first-child {
                &:before {
                    content: "";
                    background: linear-gradient(270deg, 
                        rgba($color-secondary,1) 40%, 
                        rgba($color-primary,.6) 100%);
                }
            }

            // Right-most column
            [class^="flex-column-"]:last-child {
                &:before {
                    content: "";
                    background: linear-gradient(90deg, 
                        rgba($color-secondary,1) 40%, 
                        rgba($color-primary,.6) 100%);
                }

                &:after {
                    content: none;
                }
            }

            //Middle row
            [class^="flex-column-"]:before {
                content: "";
                background: linear-gradient(90deg, 
                        rgba($color-secondary,1) 0%, 
                        rgba($color-primary,0) 50%,
                        rgba($color-secondary,1) 100%),
            }

            //Middle column
            [class^="flex-column-"]:after {
                content: "";
                background: linear-gradient(180deg, 
                        rgba($color-secondary,1) 0%, 
                        rgba($color-primary,0) 50%,
                        rgba($color-secondary,1) 100%),
            }

            &.single-row {
                [class^="flex-column"]:not(:last-child):after{
                    content: "";
                    background: linear-gradient(180deg, 
                        rgba($color-secondary,0) 10%, rgba($color-secondary,1) 50%, rgba($color-secondary,0) 90%);
                }
            }
        }
    }
}