.img-round-shadow {
    border-radius: 100%;
    box-shadow: $shadow;
    width: 100%;
}

.img-icon {
    width: 64px;
    height: 64px;
    margin-right: 2rem;
}

.img-rectangular-gradient-left {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, 
        from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.img-rectangular-gradient-right {
    width: 100%;
    height: 100%;
    object-fit: cover;

    -webkit-mask-image: -webkit-gradient(linear, right top, left top, 
        from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.img-curved-right {
    border-top-right-radius: 100%100%;
    border-bottom-right-radius: 100%100%;
}


.img-rounded {
    border-radius: 0.5%;
    box-shadow: $shadow-light;
    width: 100%;
    transition: all .2s;
    object-fit: cover;

    &:hover {
        @include hover-grow;
    }
}

.slanted-background {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: .35;
    overflow: hidden;
    
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}