.round-img {
    border-radius: 100%;
    box-shadow: $shadow;
    width: 100%;
}

.rectangular-gradient-left {
    width: auto;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, 
        from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.rounded-img {
    border-radius: 0.5%;
    box-shadow: $shadow-light;
    width: 100%;
    transition: all .2s;

    &:hover {
        @include hover-grow;
    }
}

.slanted-background {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: .35;
    overflow: hidden;
    
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}